body {
  padding: 0 30px;
  font-size: 14px;
  line-height: 22px;
  font-family: "CENTURY GOTHIC", serif;
  color: #ffffff;
  background: #ffffff url("img/s1200.jpg") no-repeat 50% 0;
  background-size: cover;
  
}

h1 {
  font-size: 32px;
  line-height: normal;
}

h2 {
  font-size: 20px;
  line-height: normal;
}

nav {
  color: #888888;
}

.block1 {
  padding-bottom: 10px
}
.block2 {
  padding-bottom: 30px
}
.block3 {
  padding-bottom: 500px
}

footer {
  margin-top: 30px;
}
