body {
  padding: 0;
  font-family: "CENTURY GOTHIC", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background: #ffffff url("img/clyde-backg.png") no-repeat 50% 0;
  background-size: cover;
  background-attachment: fixed;
}
head {
  font-family: "CENTURY GOTHIC", sans-serif;
  text-shadow: #000000 0 0 1px;
}
h1 {
  width: 260px;
  font-family: "CENTURY GOTHIC", serif;
  font-size: 36px;
  line-height: 36px;
}
h2 {
  padding-bottom: 0px;
}
h3 {
  border-bottom: 1px solid #cccccc;
}
.site-header {
  margin-bottom: 30px;
  text-shadow: #000000 0 0 1px;
}
.skills-item {
  margin-bottom: 15px;
  padding-left: 20px;
  border-left: 10px solid #c4c4c4;
  color: #777777;
}
.cite {
margin-bottom: 200px;
text-shadow: #000000 0 0 3px;
}
.container {
  width: 480px;
  margin: 0 auto;
}
.site-header img {
  display: block;
  margin: 0 auto;
}
.values {
  margin-bottom: 30px;
color:#FFFFFF;
padding-bottom: 60px;
text-shadow: #000000 0 0 1px;
}
.values p {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin: 0 5px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center top;
  color: #FFFFFF;
  text-shadow: #000000 0 0 1px;
}
.values-food {
  padding-top: 80px;
  background-image: url("img/blackcat_animal_5540.ico");
  transition: background 1s ease;
}
.values-food:hover {
  background-image: url("img/blackcat_animal_5540 2.ico");
}
.values-toys {
  padding-top: 80px;
  background-image: url("img/blackcat_animal_5540.ico");
  transition: background 1s ease;
}
.values-toys:hover {
  background-image: url("img/blackcat_animal_5540 2.ico");
}
.values-power {
  padding-top: 80px;
  background-image: url("img/blackcat_animal_5540.ico");
  transition: background 1s ease;
}
.values-power:hover {
  background-image: url("img/blackcat_animal_5540 2.ico");
}
.site-footer {
  display: flex;
  justify-content: space-between;
  color: #999999;
}